{% extends '::base.html.twig' %}
{% block title %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block body %}
{% from 'ZpiPaperBundle:Review:status.html.twig' import show_status %}
{% set paper = document.paper %}
{% set is_reviewed = FALSE %}

<h1>{{ paper.title }} - version: {{ document.version }} status: {{ show_status(document.status) }}</h1><br />

<h1>{% trans %}review.show.reviews{% endtrans %}:</h1>
{% for review in reviews %}
	{% set editor = review.editor %}
	{% if editor.id == user_id %}
		{% set is_reviewed = TRUE %}
	{% endif %}
    {% include 'ZpiPaperBundle:Review:show_reviews_block.html.twig' %}
    {% if ROLE_TECH_EDITOR in roles or ROLE_EDITOR in roles or ROLE_ORGANIZER in roles %}
    	<p><a href="{{ path('review_comment', { 'doc_id': document.id, 'review_id': review.id } ) }}">
            {% trans %}review.show.comment{% endtrans %}</a></p>
    {% endif %}
        <hr />
{% else %}
    	<p>{% trans %}review.show.no_reviews{% endtrans %}</p>
{% endfor %}

{% if ROLE_EDITOR in roles and is_reviewed == FALSE %}
<p><a href="{{ path('review_new', {'doc_id': document.id } ) }}">{% trans %}review.show.new{% endtrans %}</a></p>
{% endif %}

{% set is_reviewed = FALSE%}
<br />
<h1>{% trans %}review.show.tech_reviews{% endtrans %}:</h1>
{% for review in tech_reviews %}
	{% set editor = review.editor %}
	{% if editor.id == user_id %}
		{% set is_reviewed = TRUE %}
	{% endif %}
    {% include 'ZpiPaperBundle:Review:show_reviews_block.html.twig' %}
    {% if ROLE_TECH_EDITOR in roles or ROLE_EDITOR in roles or ROLE_ORGANIZER in roles %}
    	<p><a href="{{ path('review_comment', { 'doc_id': document.id, 'review_id': review.id } ) }}">
            {% trans %}review.show.comment{% endtrans %}</a></p>
    {% endif %}
        <hr />
{% else %}
    	<p>{% trans %}review.show.no_reviews{% endtrans %}</p>
{% endfor %}

{% if ROLE_TECH_EDITOR in roles and is_reviewed == FALSE %}
<p><a href="{{ path('tech_review_new', {'doc_id': document.id } ) }}">{% trans %}review.show.new{% endtrans %}</a></p>
{% endif %}

{% endblock %}
