{% from 'ZpiPaperBundle:Review:macro.html.twig' import show_status %}
{% if review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_REJECTED') %}
    {% set div_class = 'rejected' %}
{% elseif review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_CONDITIONALLY_ACCEPTED') %}
    {% set div_class = 'conditionally' %}
{% elseif review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_ACCEPTED') %}
    {% set div_class = 'accepted' %}
{% elseif review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_NO_MARK') %}
	{% set div_class = 'not_marked' %}
{% endif %}
<div class="{{ div_class }}">
<h3>{% trans %}review.show.date{% endtrans %}:</h3>
	{{ review.date|date('Y-m-d') }}
{% if ROLE_EDITOR in roles or ROLE_TECH_EDITOR in roles %}
    <h3>{% trans %}review.show.author{% endtrans %}:</h3>{{ editor.name }} {{ editor.surname }}
{% endif %}
<h3>{% trans %}review.show.status{% endtrans %}:</h3>
{{ show_status(review.mark) }}
<h3>{% trans %}review.show.content{% endtrans %}:</h3>
	<p>{{ review.content }}</p>
</div>
