{% extends '::base.html.twig' %}
{% block title %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block body %}
{% from 'ZpiPaperBundle:Review:macro.html.twig' import show_status %}
{% set paper = document.paper %}
{% set is_reviewed = FALSE %}
{% set is_comments_review = conference.isCommentsType(COMMENTS_TYPE_REVIEW) %}
{% set is_comments_document = conference.isCommentsType(COMMENTS_TYPE_DOCUMENT) %}

<h1>{{ paper.title }} - version: {{ document.version }} status: {{ show_status(document.status) }}</h1><br />

<h1>{% trans %}review.show.reviews{% endtrans %}:</h1>
{% for review in reviews %}
	{% set editor = review.editor %}
	{% if editor.id == user_id %}
		{% set is_reviewed = TRUE %}
	{% endif %}
    {% include 'ZpiPaperBundle:Review:show_reviews_block.html.twig' %}
    {% if (ROLE_TECH_EDITOR in roles or ROLE_EDITOR in roles or ROLE_ORGANIZER in roles) and is_comments_review %}
    	<p><a href="{{ path('review_comment', { 'doc_id': document.id, 'review_id': review.id } ) }}">
            {% trans %}review.show.comment{% endtrans %}</a></p>
    {% endif %}
        <hr />
{% else %}
    	<p>{% trans %}review.show.no_reviews{% endtrans %}</p>
{% endfor %}

{% if ROLE_EDITOR in roles and is_reviewed == FALSE and is_last %}
<p><a href="{{ path('review_new', {'doc_id': document.id } ) }}">{% trans %}review.show.new{% endtrans %}</a></p>
{% endif %}

{% set is_reviewed = FALSE%}
<br />
<h1>{% trans %}review.show.tech_reviews{% endtrans %}:</h1>
{% for review in tech_reviews %}
	{% set editor = review.editor %}
	{% if editor.id == user_id %}
		{% set is_reviewed = TRUE %}
	{% endif %}
    {% include 'ZpiPaperBundle:Review:show_reviews_block.html.twig' %}
    {% if (ROLE_TECH_EDITOR in roles or ROLE_EDITOR in roles or ROLE_ORGANIZER in roles) and is_comments_review %}
    	<p><a href="{{ path('review_comment', { 'doc_id': document.id, 'review_id': review.id } ) }}">
            {% trans %}review.show.comment{% endtrans %}</a></p>
    {% endif %}
        <hr />
{% else %}
    	<p>{% trans %}review.show.no_reviews{% endtrans %}</p>
{% endfor %}

{% if ROLE_TECH_EDITOR in roles and is_reviewed == FALSE and is_last %}
	<p><a href="{{ path('tech_review_new', {'doc_id': document.id } ) }}">{% trans %}review.show.new{% endtrans %}</a></p>
{% endif %}

{% if (ROLE_TECH_EDITOR in roles or ROLE_EDITOR in roles or ROLE_ORGANIZER in roles) and is_comments_document %}
    {% render 'ZpiPaperBundle:Review:comment' with { 'doc_id': document.id } %}
{% endif %}

{% endblock %}
