{% extends '::base.html.twig' %}
{% block title %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}review.show.title{% endtrans %}{% endblock %}
{% block body %}
{% set paper = document.paper %}

<h1>{{ paper.title }} - version: {% include 'ZpiPaperBundle:Review:status.html.twig' with { 'status': document.status } %}</h1><br />
<h1>{% trans %}review.show.reviews{% endtrans %}:</h1>
{%for review in reviews %}

<h3>{% trans %}review.show.review_id{% endtrans %}:</h3>
	{{ review.id }}
<h3>{% trans %}review.show.date{% endtrans %}:</h3>
	Date
{% block author %}{% endblock %}
<h3>{% trans %}review.show.status{% endtrans %}:</h3>
{% if review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_REJECTED') %}
    {% trans %}review.show.rejected{% endtrans %}
{% elseif review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_CONDITIONALLY_ACCEPTED') %}
    {% trans %}review.show.conditionally_accepted{% endtrans %}
{% elseif review.mark == constant('Zpi\\PaperBundle\\Entity\\Review::MARK_ACCEPTED') %}
    {% trans %}review.show.accepted{% endtrans %}
{% endif %}
<h3>{% trans %}review.show.comment{% endtrans %}:</h3>
	<p>{{ review.content }}</p>
<hr />

{% else %}

<p>{% trans %}review.show.no_reviews{% endtrans %}</p>

{% endfor %}

<br />
<h1>{% trans %}review.show.tech_reviews{% endtrans %}:</h1>
{%for review in tech_reviews %}

<h3>{% trans %}review.show.review_id{% endtrans %}:</h3>
	{{ review.id }}
<h3>{% trans %}review.show.date{% endtrans %}:</h3>
	Date
{% block author_tech %}{% endblock %}
<h3>{% trans %}review.show.status{% endtrans %}:</h3>
{% include 'ZpiPaperBundle:Review:status.html.twig' with { 'status': review.mark } %}
<h3>{% trans %}review.show.comment{% endtrans %}:</h3>
	<p>{{ review.content }}</p>
<hr />

{% else %}

<p>{% trans %}review.show.no_tech_reviews{% endtrans %}</p>

{% endfor %}

{% block new %}{% endblock %}

{% endblock %}
