{% if app.session.get('comas') == true %}
    {% set base = '::comasbase.html.twig' %}
    {% set title = 'Conference Management System - CoMaS' %}
{% else %}
    {% set base = '::base.html.twig' %}
    {% set title = app.session.get('conference').name %}
{% endif %}
{% block title %}{{ title }}{% endblock %}
{% block bodytitle %}{{ title }}{% endblock %}
{% extends base %}

{% block body %}
{% if app.session.get('comas') == true %}
<h1>Please choose a conference:<br />
<ul class="conflist">
{% for conference in conferences %}
<li><div class="conflogo">{% if conference.logoPath != '' %}<img src="../{{ conference.getWebPath }}" style="padding: 22px 0 0 0px;" />{% else %}<h1>{{ conference.name }}</h1>{% endif %}</div><a href="{{ path('homepage', { '_conf': conference.prefix }) }}">{{ conference.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<span>Short conference system description and little how-to?</span>
{% endif %}
{% endblock %}

{% block subPageDev %}	
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('subpage_new') }}">{{'add.subpage'|trans}}</a></li>
    {% endif %}	 		
{% endblock %}





