{% extends '::comasbase.html.twig' %}

{% block topmenu %}    
    <div class="menu">                      
        <ul>                      
            <li class="klasa"><a href="{{ path('homepage') }}">{{ 'main.homepage'|trans() }}</a></li>		                      
                                   
       {% render "ZpiPageBundle:SubPage:subPageMenuTop" %}                    
        </ul>                   
    </div>
    <div class="clr"></div>
{% endblock %}
            
{% block newconference %}{% endblock %}
{% block menu %}
          
    {{ parent() }} 
    {% block subPageDev %}{% endblock %}    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
    
    <li>{{'subpages.category.registration'|trans()}}</li>
    
            <li class="klasa"><a href="{{ path('registration_new') }}">{{ 'main.conference'|trans() }}</a></li>                      
            <li><a href="{{ path('registration_user_show') }}">{{ 'main.reg'|trans() }}</a></li>
            <li class="klasa"><a href="{{ path('registration_confirm') }}">{{ 'main.confirmation'|trans() }}</a></li> 
            <li><a href="{{ path('papers_list') }}">{{ 'main.papers'|trans() }}</a></li>
            
    {% endif %} 
            
    
    {% if is_granted("ROLE_ORGANIZER") %}
    <li>{{'subpages.category.organizer'|trans()}}</li>
    <li><a href="{{ path('conference_manage') }}">{{ 'main.confmanage'|trans() }}</a></li>                     
    <li><a href="{{ path('conference_papers_payments_list') }}">{{ 'main.papers_payments'|trans() }}</a></li> 
    
    {% endif %}
    {% if is_granted(ROLE_EDITOR) or is_granted(ROLE_TECH_EDITOR) %}
                        
    <li><a href="{{ path('reviews_list') }}">{{ 'main.reviews'|trans() }}</a></li>
    
    {% endif %}             
       
    
    
    <li>{{'subpages.category.1'|trans()}}</li>
    
    {% render "ZpiPageBundle:SubPage:subPageMenuLeft" %}
    
    <li>{{'subpages.category.2'|trans()}}</li>
    
    {% render "ZpiPageBundle:SubPage:subPageMenuLeft2" %}
    
    <li>{{'subpages.category.3'|trans()}}</li>
    
    {% render "ZpiPageBundle:SubPage:subPageMenuLeft3" %}
    
{% endblock %}
                      
      
                        
    
                          
 
                       
     
                        
    
                       
     
                       
     
                        
    
                        
   
                     

                


