<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
        {% block js %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div class="blok_header">
                <div class="header">
                     <div class="logo"><h1>System obsługi konferencji ISAT</h1></div>
                     <div class="simple_text">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile.edit'|trans({}, 'FOSUserBundle') }}</a> |
                                    <a href="{{ path('fos_user_change_password') }}">{{ 'layout.profile.change_password'|trans() }}</a> |
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a> 
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> | 
                                    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a> |
                                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.reset_request'|trans() }}</a>
                                {% endif %}   
                    </div>
                     <div class="clr"></div>
                     <div class="menu">
                        <ul>
                            <li class="klasa"><a href="{{ path('homepage') }}">{{ 'main.homepage'|trans() }}</a></li>				
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="klasa"><a href="{{ path('registration_new') }}">{{ 'main.conference'|trans() }}</a></li>
                            {% endif %}
                            {% render "ZpiPageBundle:SubPage:subPageMenuTop" %}		        
                        </ul>
                     </div>
                     <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
            <div class="welcome">
                <div class="welcome_inner">		
                    <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                        {% else %}
                        <span>Welcome in ISAT system!</span>
                        {% endif %}  
                    </p>
                    <div class="clr"></div>
		</div>
            </div>
            <div id="content">   
                <div id="left">
                	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                	<h2>Moje konferencje</h2>
                	<ul class="navigation">
                		{% render "ZpiConferenceBundle:Conference:conferenceMenu" %}
                	</ul>
                	{% endif %}
                    <h2>Menu</h2>
                    <ul class="navigation">
                        <li><a href="{{ path('homepage') }}">{{ 'main.homepage'|trans() }}</a></li>
                        {% block subPageDev %}{% endblock %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('users_manage') }}">{{ 'main.users'|trans() }}</a></li>
                        {% endif %}
                        {% render "ZpiPageBundle:SubPage:subPageMenuLeft" %}
                    </ul>
                </div>
                <div id="right">
                {% for key, message in app.session.getFlashes() %}
                <div class="{{ key }}">
                    <span>{{ message|trans({}, 'FOSUserBundle') }}</span>
                </div>
                {% endfor %} 
                <h2>{% block bodytitle %}Content{% endblock %}</h2>
                {% block body %}{% endblock %}
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
            <div id="footer">
                <p>Copyright &copy; ZPI 2011</p> 
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
