<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
        {% block js %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                {% block userinfo %}
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a> | 
                        <a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile.edit'|trans({}, 'FOSUserBundle') }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}   
                    {% block subPageDev %}{% endblock %}     
                </div>

                {% for key, message in app.session.getFlashes() %}
                <div class="{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
                {% endfor %}
                {% endblock %}
            </div>        
            <div id="left">
				<div id="menu"> <p>Menu</p>
					<ul class="klasa">
						<li class="klasa"><a href="{{ path('homepage') }}">Strona Główna
						</a></li>				
                        {% render "ZpiPageBundle:SubPage:subPageMenu" %}
					</ul>
				</div>
            </div>
            <div id="right">
            {% block body %}{% endblock %}   
                    
            </div>
          
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
