    <div class="table" style="position:relative;">
        <div class="ajaxloader"><strong>Sending Request...</strong></div>
        <div class="options hidden">
            <span><strong>Showed columns:</strong></span><br />
            <form>
            <span>
                <input name="columns" id="id" type="checkbox">
                <label for="id">
                    ID
                </label>
            </span>
            <span>
                <input name="columns" id="email" type="checkbox">
                <label for="email">
                    E-mail
                </label>
            </span>
            <span>
                <input name="columns" id="name" type="checkbox">
                <label for="name">
                    Name
                </label>
            </span>
            <span>
                <input name="columns" id="surname" type="checkbox">
                <label for="surname">
                    Surname
                </label>
            </span>
            <span>
                <input name="columns" id="address" type="checkbox">
                <label for="address">
                    Address
                </label>
            </span>
            <span>
                <input name="columns" id="city" type="checkbox">
                <label for="city">
                    City
                </label>
            </span>
            <span>
                <input name="columns" id="country" type="checkbox">
                <label for="country">
                    Country
                </label>
            </span>
            <span>
                <input name="columns" id="type" type="checkbox">
                <label for="type">
                    Type
                </label>
            </span>
            <span>
                <input name="columns" id="institution" type="checkbox">
                <label for="institution">
                    Institution
                </label>
            </span>
            <span>
                <input name="columns" id="postalcode" type="checkbox">
                <label for="postalcode">
                    Postal code
                </label>
            </span>
            <span>
                <input name="columns" id="phone" type="checkbox">
                <label for="phone">
                    Phone
                </label>
            </span>
            <span>
                <input name="columns" id="nipvat" type="checkbox">
                <label for="nipvat">
                    Vat ID
                </label>
            </span>
            <span>
                <input name="columns" id="edit" type="checkbox">
                <label for="edit">
                    Edit
                </label>
            </span>
            </form>        
            <br />
            <button class="subbutton">Submit</button>
        </div>
        <div class="table_title">
            <span>User list</span>
            <div class="optionslink">Options</div>
            <div id="abc" class="hidetable"></div>
        </div>
        <div class="table_content">
            <form>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="glines">
            <tr>
                <th id="id" class="hidden{% if app.request.get('sortby') == 'id' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=id{{ params }}" id="sort">ID</a></span><span class="msgtoshow">Click here to sort by user's id.</span></th>
		<th id="email" class="hidden{% if app.request.get('sortby') == 'email' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=email{{ params }}" id="sort">E-mail</a></span><span class="msgtoshow">Click here to sort by user's email.</span></th>
                <th id="name" class="hidden{% if app.request.get('sortby') == 'name' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=name{{ params }}" id="sort">Name</a></span><span class="msgtoshow">Click here to sort by user's name.</span></th>
                <th id="surname" class="hidden{% if app.request.get('sortby') == 'surname' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=surname{{ params }}" id="sort">Surname</a></span><span class="msgtoshow">Click here to sort by user's surname.</span></th>
                <th id="address" class="hidden{% if app.request.get('sortby') == 'address' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=address{{ params }}" id="sort">Address</a></span><span class="msgtoshow">Click here to sort by user's address.</span></th>
		<th id="city" class="hidden{% if app.request.get('sortby') == 'city' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=city{{ params }}" id="sort">City</a></span><span class="msgtoshow">Click here to sort by user's city.</span></th>
                <th id="type" class="hidden{% if app.request.get('sortby') == 'type' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=type{{ params }}" id="sort">Type</a></span><span class="msgtoshow">Click here to sort by user's type.</span></th>
                <th id="institution" class="hidden{% if app.request.get('sortby') == 'institution' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=institution{{ params }}" id="sort">Institution</a></span><span class="msgtoshow">Click here to sort by user's institution.</span></th>
                <th id="country" class="hidden{% if app.request.get('sortby') == 'country' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=country{{ params }}" id="sort">Country</a></span><span class="msgtoshow">Click here to sort by user's country.</span></th>
                <th id="postalcode" class="hidden{% if app.request.get('sortby') == 'postalcode' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=postalcode{{ params }}" id="sort">Postal code</a></span><span class="msgtoshow">Click here to sort by user's postal code.</span></th>
                <th id="phone" class="hidden{% if app.request.get('sortby') == 'phone' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=phone{{ params }}" id="sort">Phone</a></span><span class="msgtoshow">Click here to sort by user's phone.</span></th>
                <th id="nipvat" class="hidden{% if app.request.get('sortby') == 'nipvat' %}{% if app.request.get('direction') == 'asc' %} asc{% else %} desc{% endif %}{% endif %}"><span class="showmsg"><a href="{{ path('users_manage') }}?sortby=nipvat{{ params }}" id="sort">Vat ID</a></span><span class="msgtoshow">Click here to sort by user's vat id.</span></th>
                <th id="edit" class="hidden"><span class="showmsg">Edit</span><span class="msgtoshow">Edit this user.</span></th>
            </tr>
{% for user in users %}
            <tr class="datarow">
                <td id="id" class="hidden">{{ user.id }}</td>
                <td id="email" class="hidden">{{ user.email }}</td>
                <td id="name" class="hidden">{{ user.name }}</td>
                <td id="surname" class="hidden">{{ user.surname }}</td>
                <td id="address" class="hidden">{{ user.address }}</td>
                <td id="city" class="hidden">{{ user.city }}</td>
                <td id="type" class="hidden">{{ user.type }}</td>
                <td id="institution" class="hidden">{{ user.institution }}</td>
                <td id="country" class="hidden">{{ user.country }}</td>
                <td id="postalcode" class="hidden">{{ user.postalcode }}</td>
                <td id="phone" class="hidden">{{ user.phone }}</td>
                <td id="nipvat" class="hidden">{{ user.nipvat }}</td>
                <td id="edit" class="hidden"><a href="{{ path('users_edit', {'id': user.id}) }}">Edit</a></td>
            </tr>
{% endfor %}
</table>    
            <p>
                <select id="dropdown" name="dropdown" class="cntresults">
                    <option value="10"{% if app.request.get('limit') == 10 %} selected="selected"{% endif %}>10 users</option>
                    <option value="20"{% if app.request.get('limit') == 20 %} selected="selected"{% endif %}>20 users</option>
                    <option value="30"{% if app.request.get('limit') == 30 %} selected="selected"{% endif %}>30 users</option>
                    <option value="50"{% if app.request.get('limit') == 50 %} selected="selected"{% endif %}>50 users</option>
                    <option value="100"{% if app.request.get('limit') == 100 %} selected="selected"{% endif %}>100 users</option>
		</select>
                <div class="paginate">{{ pagination | raw }}</div>
            </p>
            </form>
            <a href="{{ path('users_csv')}}">Export CSV</a>
        </div>
    </div>
<script>
    //$('td#nipvat').removeClass('hidden');

{% for col in showedColumns %}
$('td#{{ col }}').removeClass('hidden');
$('th#{{ col }}').removeClass('hidden');
{% endfor %}
</script>
