{% extends '::base.html.twig' %}
{% from 'ZpiPaperBundle:Review:macro.html.twig' import show_status %}

{% block title %}{% trans %}paper.details.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}paper.details.title{% endtrans %}{% endblock %}
{% block body %}
{% set documents = paper.documents %}

<h1>{{ paper.title }} </h1>
    {% if paper.lastDocument is defined %}
<h3> version: {{ document.version }}</h3>
<h3> status: {{ show_status(paper.status) }}</h3>
    {% else %}
    Nonsubmitted yet
    {% endif %}
</h1>
<h3>{% trans %}paper.details.paper_authors{% endtrans %}:</h3>{% for author in paper.authors2 %} {{ author.name }} {{ author.surname }}<br />{% endfor %}<br />
<h3>{% trans %}paper.details.paper_abstract{% endtrans %}:</h3><p>{{ paper.abstract | nl2br }}</p><br />
{% block upload %}{% endblock %}
{% if documents.count > 0 %}
<h3>{% trans %}paper.details.versions_title{% endtrans %}:</h3>
<ul>
{% for document in documents %}
	<li>
        {{ paper.title }} v.{{ document.version }} | {{document.uploadDate|date('d-m-Y, h:i')}} | 
        {{ document.user.name }} {{ document.user.surname }} | {{ document.comment }} | <a href="{{ path('review_show', { 'doc_id': document.id }) }}">
        {{ show_status(document.status) }}</a> | 
        <a href="{{ path('document_download', {'id' : document.id}) }}">{% trans %}paper.details.download{% endtrans %}</a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
