{% block list_body %}
<ul>
{% for paper in papers %}
	{% set authors = paper.authors2 %}
	<li>
        {{ paper.title }} | 
		{{ paper.abstract }} | 
		{% for author in authors %}{{ author.name }} {{ author.surname }} {% endfor %}| 
		version | 
		review version | 
		review status | 
        Payment type: {% if(paper.paymentType)%} Extra Pages {% else %} Full {% endif %}
        
		<a href="{{ path(path_details, { 'id': paper.id }) }}">{% trans %}paper.list.details{% endtrans %}</a> | 
                <a href="{{ path('paper_edit', { 'id': paper.id }) }}">{% trans %}paper.list.edit{% endtrans %}</a>
		{% block manage %}{% endblock %}{# Nadpisz ten blok w ZpiConferenceBundle:Conference:list_papers.html.twig #}
	</li>
{% else %}
	<p>{% trans %}paper.list.empty{% endtrans %}</p>
{% endfor %}
</ul>
{% endblock %}
