{% from 'ZpiPaperBundle:Review:macro.html.twig' import show_status %}
{% from 'ZpiPaperBundle:Paper:macro.html.twig' import show_type %}

<ul>
{% for paper in papers %}
	{% set authors = paper.authors2 %}
	{% set doc = paper.lastDocument() %}
        
	<li>
        {{ paper.title }}
        {% if(doc != '') %}
        v.{{ doc.version }}
        {% else %}
        nonsubmitted yet
        {% endif %}| 
        <div id="inner_content" style="display:none;">
    	<p>
        {{ paper.abstract | nl2br }}
        </p>
        </div>
        <a href="#inner_content" rel="ibox&width=600" title="Paper's abstract">{% trans %}paper.abstract.show{% endtrans %}</a>
        | 
		{% for author in authors %}{{ author.name }} {{ author.surname }} {% endfor %}| 
        {% if(doc != '') %}
		<a href="{{ path('review_show', { 'doc_id': doc.id }) }}">    
        
        {{ show_status(paper.status) }}</a> | 
        {% endif %}
        {{ show_type(paper) }} |         
		<a href="{{ path(path_details, { 'id': paper.id }) }}">{% trans %}paper.list.details{% endtrans %}</a>        
        {% if edit and paper.owner.id == app.user.id %} | <a href="{{ path('paper_edit', { 'id': paper.id }) }}">{% trans %}paper.list.edit{% endtrans %}</a>{% endif %}
		{% if manage %} | <a href="{{ path('conference_manage_assign_editors', { 'paper_id': paper.id }) }}">
            {% trans %}conf.manage.papers_assign_editors{% endtrans %}</a> |
        <a href="{{ path('conference_manage_papers_deadline', { 'paper_id': paper.id }) }}">
	        {% trans %}conf.manage.papers_deadline{% endtrans %}</a>
        <form novalidate="novalidate" action="{{ path('send_notificatione_email') }}" method="POST">
	<input type="submit" value="{% trans %}conf.manage.send.notification.email{% endtrans %}" />
	</form>
        {% endif %}
        
	</li>
    
{% else %}
	<p>{% trans %}paper.list.empty{% endtrans %}</p>
{% endfor %}
</ul>