{% extends '::base.html.twig' %}

{% block js %}
<script type="text/javascript" src="{{ asset('jquery-1.6.3.js') }}"></script>
<script type="text/javascript" src="{{ asset('jsDatePick.min.1.3.js') }}"></script>

{% endblock %}

{% block title %}{% trans %}reg.confirm.title{% endtrans %} {{ conference.name }}{% endblock %}

{% block bodytitle %}{% trans %}reg.confirm.title{% endtrans %} {{ conference.name }}{% endblock %}

{% block body %}

{# Tutaj niepotrzebne, może przyda się gdzie indziej :) #}
{#
<h2>Conference info</h2>
<table>
    <thead><th><h3>Important dates</h3></th></thead>
<tr><th>Event</th><th>Date</th></tr>
<tr><td>{% trans %}conf.form.accomodation_start{% endtrans %}</td><td>{{conference.startDate|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.accomodation_end{% endtrans %}</td><td>{{conference.endDate|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.booking_start{% endtrans %}</td><td>{{conference.bookingStartDate|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.booking_end{% endtrans %}</td><td>{{conference.bookingEndDate|date('d-m-Y')}}</td></tr>
</table>

<table>
    <thead><th><h3>Deadlines</h3></th></thead>
<tr><th>Deadline</th><th>Date</th></tr>
<tr><td>{% trans %}conf.form.abstract_deadline{% endtrans %}</td><td>{{conference.abstractDeadline|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.paper_deadline{% endtrans %}</td><td>{{conference.paperDeadline|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.correctedpaper_deadline{% endtrans %}</td><td>{{conference.correctedPaperDeadline|date('d-m-Y')}}</td></tr>
<tr><td>{% trans %}conf.form.confirmation_deadline{% endtrans %}</td><td>{{conference.confirmationDeadline|date('d-m-Y')}}</td></tr>
</table>

<table>
    <thead><th><h3>Prices</h3></th></thead>
<tr><th>Payment</th><th>Price</th></tr>
<tr><td>{% trans %}conf.form.paper_price{% endtrans %}</td><td style="text-align: left">{{conference.paperPrice}} PLN</td></tr>
<tr><td>{% trans %}conf.form.extrapage_price{% endtrans %}</td><td>{{conference.extraPagePrice}} PLN</td></tr>
{% if(conference.containBook) %}
<tr><td>{% trans %}conf.form.book_price{% endtrans %}</td><td>{{conference.conferenceBookPrice}} PLN</td></tr>
{% endif %}
<tr><td>{% trans %}conf.form.kit_price{% endtrans %}</td><td>{{conference.conferenceKitPrice}} PLN</td></tr>
{% if(registration.type == 0) %}
<tr><td>{% trans %}conf.form.full_price{% endtrans %}</td><td>{{conference.fullParticipationPrice}} PLN</td></tr>
{% else %}
<tr><td>{% trans %}conf.form.limited_price{% endtrans %}</td><td>{{conference.limitedParticipationPrice}} PLN</td></tr>
{% endif %}
<tr><td>{% trans %}conf.form.oneday_price{% endtrans %}</td><td>{{conference.onedayPrice}} PLN</td></tr>
</table>
#}
<form novalidate="novalidate" action="{{ path('participation_confirm') }}" method="post" {{ form_enctype(form) }}>   
    
        <h1>Registration info:</h1> {# Ile razy jeszcze będę to poprawiał, zanim w koncu skumasz ze h2 jest tylko dla nagłówka menu i contentu? #}
        
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {# Deklaracja zmiennych globalnych #}
        <script type="text/javascript">
            var papersPrices = new Array();
            var papersTypes = new Array();
            var papersExtraPrices = new Array(); // ceny za extra pages
            var totalPapersPrice = 0;
            </script>
        {% if (count != 0) %}
            <div class="info"><span>{% trans %}reg.confirm.info{% endtrans %}</span></div>       
        <script type="text/javascript">               
            var i = 0;
            {% for paper in papers %}
            {% if(paper.isSubmitted()) %}          
                   papersPrices[i] = {{ paper.getPaperPrice() }};
                   papersTypes[i] = {{ paper.getPaymentType(registration) }};
                   papersExtraPrices[i] = {{ paper.getExtraPagesPrice() }};
                   i++;
            {% endif %}                  
                
            {% endfor %}
            
            {% for paper in papers %}
                
                   //var asd = {{ paper.id }} + {{ paper.isSubmitted() }};               
                
            {% endfor %}
                
            {% set i = 0 %}    
            {% set k = 0 %} {# indeks poprawnego papera w tablicy #}
            {% for paper in papers %}
            {% if(paper.isSubmitted()) %}         
                $("#form_papers_{{i}}_paymentType_0").live("change",function(){                        
                        var id = {{k}};
                        papersTypes[id] = 0;              
                        countPrices();
                        $(this).parent().parent().parent().children().eq(1).addClass('hidden');

                }); 
                $("#form_papers_{{i}}_paymentType_1").live("change",function(){                       
                    var id = {{k}};
                    papersTypes[id] = 1;                                                         
                    papersPrices[id] = {{paper.getLastDocumentPagesCount()*conference.getExtrapagePrice()}};           
                    countPrices();
                    $(this).parent().parent().parent().children().eq(1).addClass('hidden');
                });
                $("#form_papers_{{i}}_paymentType_2").live("change",function(){                       
                    var id = {{k}};
                    papersTypes[id] = 2; // ustawienie typu cedowanego                            
                    countPrices();
                    $(this).parent().parent().parent().children().eq(1).removeClass('hidden');
                });
                $("#form_papers_{{i}}_paymentTypeCeded_0").live("change",function(){                        
                    var id = {{k}};
                    papersTypes[id] = 0;              
                    countPrices();
                    $(this).parent().parent().parent().children().eq(1).addClass('hidden');

                }); 
                $("#form_papers_{{i}}_paymentTypeCeded_1").live("change",function(){                       
                    var id = {{k}};
                    papersTypes[id] = 1;                                                         
                    papersPrices[id] = {{paper.getAcceptedDocumentPagesCount()*conference.getExtrapagePrice()}};           
                    countPrices();
                    $(this).parent().parent().parent().children().eq(1).addClass('hidden');
                });
                $("#form_papers_{{i}}_paymentTypeCeded_2").live("change",function(){                       
                    var id = {{k}};
                    papersTypes[id] = 2;                               
                    countPrices();
                    $(this).parent().parent().parent().children().eq(1).removeClass('hidden');
                });

                
                {% set k = k + 1 %}
                {% endif %}
                {% set i = i + 1 %}
                
                
            {% endfor %}

            $(document).ready(function() {
                $('[id]').filter(function() {
                    	return this.id.match(/^form_papers_\d+_paymentType_[01]$/);
                    })/*.attr('hidden', 'true');*/
                    .parent().parent().parent().children(':nth-child(2)').addClass('hidden');
            });
        </script>    
        <table>
            <thead><th><h3>{{ form_label(form.papers) }}</h3></th></thead>
            <tr><th>Paper title</th><th>Payment type</th><th>Pages count</th>
                <th>Extra pages count</th>{#<th>Base paper price</th>#}<th>Extra price</th>{#<th>Total price</th>#}</tr>
            
            {% set i = 0 %} {# indeks papera wyswietlanego w formie #}
            {% set j = 0 %} {# indeks papera w tablicy papers #}
            {% set k = 0 %} {# indeks papera w tablicy poprawnych paperow #}
            {% set currentpaper = '' %}
        {% for paper in form.papers %}
            {% for paperr in papers %}
            
            {% if(i == j) %}
                {% set currentpaper = paperr %}
            {% endif %}
                
            {% set j = j+1 %}
            {% endfor %}
            {% if(currentpaper.isSubmitted()) %}
            <tr>
                <td>{{ currentpaper }}</td>
                <td>
                    <div class="radio-row">
                                                                
                    {{ form_errors(paper) }}                                                
                    {{ form_widget(paper) }}
                    </div>
                </td>
                <td>{{currentpaper.getLastDocumentPagesCount()}}</td>
                <td>{{currentpaper.getLastDocumentExtraPagesCount()}}</td>
                {#<td>
                    <div id="paperBasePrice{{i}}">
                    {% if(currentpaper.getPaymentType() == 0) %}
                        {{conference.getPaperPrice()*1}}
                    {% else %}
                        -
                    {% endif %}
                    </div>
                </td>#}
                <td>
                    <div id="extraPagesPrice{{k}}">
                    {% if(currentpaper.getPaymentType() == 0) %}
                        {{currentpaper.getExtraPagesPrice()}}
                    {% else %}
                        {{currentpaper.getLastDocumentPagesCount*conference.getExtrapagePrice()}}
                    {% endif %}                            
                    </div>
                </td>
               {# <td>
                    <div id="paperPrice{{k}}"><script type="text/javascript">document.write(papersPrices[{{k}}]);</script></div>
                </td>#}
                
            </tr>
            
            {% set k = k+1 %}
            {% endif %}
            {% set i = i+1 %}            
            {% set j = 0 %}
            
        {% endfor %}
        <tfoot><td></td><td></td><td></td><th>Sum:</th>
            <td>
                <div id="totalPapersPrice">
                    <script type="text/javascript">document.write(totalPapersPrice);</script>
                </div>
            </td>
        </tfoot>
        </table>
{% endif %}        
            
        
        <h3>{% trans %}reg.confirm.dates{% endtrans %}</h3>
        
        <ul>
        <div id="Dates"></div>
        </ul>
        {{ form_row(form.startDate) }}
        {{ form_row(form.arrivalBeforeLunch) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.leaveBeforeLunch) }}
        <script type="text/javascript">
            // Daty przyjazdu i wyjazdu początkowo ustawione na daty rozpoczęcia i
            // zakończenia akomodacji na konferencji
            var startDate;
            var endDate = new Date({{conference.getEndDate|date('Y')}}, 
                {{conference.getEndDate|date('m')}}-1, {{conference.getEndDate|date('d')}});       
            var startDate = new Date({{conference.getStartDate|date('Y')}}, 
                {{conference.getStartDate|date('m')}}-1, {{conference.getStartDate|date('d')}});
            var arrivalDate = new Date({{registration.getStartDate|date('Y')}}, 
                {{registration.getStartDate|date('m')}}-1, {{registration.getStartDate|date('d')}});
            var leaveDate = new Date({{registration.getEndDate|date('Y')}}, 
                {{registration.getEndDate|date('m')}}-1, {{registration.getEndDate|date('d')}});
            var bookingStartDate = new Date({{conference.getBookingStartDate|date('Y')}}, 
                {{conference.getBookingStartDate|date('m')}}-1, {{conference.getBookingStartDate|date('d')}});
            var bookingEndDate = new Date({{conference.getBookingEndDate|date('Y')}}, 
                {{conference.getBookingEndDate|date('m')}}-1, {{conference.getBookingEndDate|date('d')}});
            var days;// liczba noclegow
            var extraDays;// liczba extra noclegów
            function dateDiff(){
                
                days = (leaveDate-arrivalDate)/(3600*1000*24);
                if(days > 0)
                {                    
                    extraDays = 0;
                    if(startDate > arrivalDate)
                        extraDays += (startDate - arrivalDate)/(3600*1000*24);
                    if(leaveDate > endDate)// odejmuje 1, bo w ostatni dzien nie ma noclegu
                        extraDays += (leaveDate - endDate)/(3600*1000*24) - 1;
                    
                }
                
                
            };
            function validateDates(){
                if(arrivalDate < bookingStartDate || arrivalDate > endDate){
                    $('#Dates').html('<li>Arrival date should be between conference booking start and conference last accomodation date.</li>');
                    $(':submit').attr('disabled', 'disabled');
                    return false;
                    }
                else if((leaveDate - bookingEndDate)/(3600*1000*24) > 1 || leaveDate < startDate){
                    $('#Dates').html('<li>Leave date should be between conference start and day after last possible accomodation day.</li>');
                    $(':submit').attr('disabled', 'disabled');
                    return false;
                    }
                else if(days < 0){                    
                    $('#Dates').html('<li>Leave date can\'t be before arrive date.</li>');
                    $(':submit').attr('disabled', 'disabled');
                    return false;
                    }
                
                else{
                    $('#Dates').html('');
                    $(':submit').removeAttr('disabled');
                    return true;
                    }
                };
            $(document).ready(function()
            {   
                // Ustawienie dat na domyślne wartości
                // Wywołanie wszystkich funkcji dla inputów
                
                date = (arrivalDate.getDate()) +'-'+(arrivalDate.getMonth()+1)+'-'+arrivalDate.getFullYear();
                $('#form_startDate').val(date);                
                date = (leaveDate.getDate()) +'-'+(leaveDate.getMonth()+1)+'-'+leaveDate.getFullYear();
                $('#form_endDate').val(date);
                                
                
                {% if(conference.containBook) %}
                var val = $('#form_bookQuantity').val();                
                if(val > 0){
                    $('#BookPriceRow').removeAttr('hidden');
                        bookCount = val;
                    }
                else{
                    $('#BookPriceRow').attr('hidden', 'true');
                        bookCount = val;
                    }
                {% endif %}  
                if($('input#form_enableKit').is(':checked')){
                    kitPrice = {{conference.conferenceKitPrice}};
                    kitEnabled = true;
                    $('#KitPriceRow').removeAttr('hidden');
                    }
                else{
                    kitPrice = 0;
                    $('#KitPriceRow').attr('hidden', 'true');
                    kitEnabled = false;
                    }
                                
                countPrices(); 
                if(!$('input#form_declared').is(':checked'))
                    $(':submit').attr('disabled', 'disabled');                   
                
                     
                
                });
            window.onload = function(){
                startCalendar = new JsDatePick({
                    useMode:2,
                    target:"form_startDate",                                       
                    dateFormat:"%d-%m-%Y",               
                    selectedDate:{				
                    month:{{registration.getStartDate|date('m')}},
                    day: {{registration.getStartDate|date('d')}},
                    year:{{registration.getStartDate|date('Y')}}
                    }
                   
                });
                    
                startCalendar.setOnSelectedDelegate(function(){
                    obj = startCalendar.getSelectedDay();
                    arrivalDate = new Date(obj.year, 
                                obj.month-1, obj.day);                                            
                    var date = obj.day +'-'+obj.month+'-'+obj.year;                        
                    $('#form_startDate').val(date);                                         
                    countPrices();

                });
                
                endCalendar = new JsDatePick({
                    useMode:2,
                    target:"form_endDate",                
                    dateFormat:"%d-%m-%Y",
                    selectedDate:{				
                    month:{{registration.getEndDate|date('m')}},
                    day: {{registration.getEndDate|date('d')}},
                    year:{{registration.getEndDate|date('Y')}}
                    }

                });
                endCalendar.setOnSelectedDelegate(function(){
                        obj = endCalendar.getSelectedDay();
                        leaveDate = new Date(obj.year, 
                                    obj.month-1, obj.day);                        
                        var date = obj.day +'-'+obj.month+'-'+obj.year;                        
                        $('#form_endDate').val(date);                                                
                        countPrices();
                    });
            };            
        </script>                
        {% if(conference.containBook) %}
        {{ form_row(form.bookQuantity) }}
        {% endif %}
                
        <div id="enablekit" hidden="true">    {{ form_row(form.enableKit) }}</div>       
        
        <script type="text/javascript">
            $('#form_bookQuantity').live("change", function(){
                var val = $('#form_bookQuantity').val();                
                if(val > 0){
                    $('#BookPriceRow').removeAttr('hidden');
                        bookCount = val;
                    }
                else{
                    $('#BookPriceRow').attr('hidden', 'true');
                        bookCount = val;
                    }
                countPrices();                    
                    
                });
            $('#form_enableKit').live("change", function(){
                if($('input#form_enableKit').is(':checked')){
                    kitPrice = {{conference.conferenceKitPrice}};
                    kitEnabled = true;
                    $('#KitPriceRow').removeAttr('hidden');
                    }
                else{
                    kitPrice = 0;
                    $('#KitPriceRow').attr('hidden', 'true');
                    kitEnabled = false;
                    }
                countPrices();
                });
            
        </script>
 
        {{ form_row(form.comment) }}
        <div id="registrationtype"><h3>{% trans %}reg.form.type{% endtrans %} 
        {% if(registration.type) %}Limited participation {% else %} Full participation {% endif %} </h3></div>
        
        <h2>Payment summary</h2>
        
        <table>
        <thead><th><h3>Payments</h3></th></thead>
        <tr><th>Payment</th><th>Amount</th></tr>
        {% if(conference.demandAlldayPayment) %}        
        <tr><td id="registrationprice">
        {% if(registration.type == 0) %}
        {% trans %}conf.form.full_price{% endtrans %}
        {% else %}
        {% trans %}conf.form.limited_price{% endtrans %}               
        {% endif %}
        </td>
        <td><div id="BasePrice"></div></td></tr> 
        <tr><td>{% trans %}conf.form.extra_days{% endtrans %}</td><td><div id="ExtraDaysPrice"></div></td></tr>
        {% else %}
        <tr><td>{% trans %}conf.form.booking_price{% endtrans %}</td><td><div id="BookingPrice"></div></td></tr>        
        {% endif %}       
        
        <tr><td>{% trans %}conf.form.papers{% endtrans %}</td><td><div id="PapersPrice"></div></td></tr>
        
        {% if(conference.containBook) %}
        <tr id="BookPriceRow" hidden="true"><td>{% trans %}conf.form.book_price{% endtrans %}</td><td><div id="BookPrice"></div></td></tr>
        {% endif %}
        
        <tr id="KitPriceRow" hidden="true"><td>{% trans %}conf.form.kit_price{% endtrans %}</td><td><div id="KitPrice"></div></td></tr>
        
        <tr><td><h3>{% trans %}conf.form.sum{% endtrans %}</h3></td><td><h3><div id="PricesSum"></div></h3></td></tr>
        
        </table>
        
        <script type="text/javascript">
            var basePrice = {% if(registration.type == 0) %} {{conference.fullParticipationPrice}}
                     {% else %} {{conference.limitedParticipationPrice}} {% endif %};
            var registrationType = {{registration.type}};
            var kitEnabled = false;
            var extraDaysPrice = 0;
            var bookingPrice = 0;
            var oneDayPrice = {{conference.onedayPrice}};
            var papersPrice = 0;
            var totalPapersPrice = 0;
            var bookPrice = 0;
            {% if(conference.containBook) %}
            var bookPrice = {{conference.conferenceBookPrice}};
            {% endif %}
            var bookCount = 0;
            var kitPrice = 0;
            var pricesSum = 0;
            var isBasePrice = false; // czy wymaga oplaty za wszystkie dni trwania konferencji
            {% if(conference.demandAllDayPayment) %}
                isBasePrice = true;
            {% endif %}
            function countPrices(){
                // odpowiednie uzupelnienie ceny za papery
                // w petli dla odpowiednich tablic
                totalPapersPrice = 0; 
                var wasFull = false; // czy byla juz pelna oplata za prace
                if( typeof papersPrices !== 'undefined')
                {
                    var isNonCeded = false; // czy jest choć jedna praca niecedowana
                    
                    for(i = 0; i < papersPrices.length; i++)
                    {
                        switch(papersTypes[i])
                        {
                            // jeżeli opłata w ramach full
                            case 0:
                                if(!isNonCeded)
                                    isNonCeded = true;
                                papersPrices[i] = papersExtraPrices[i];
                                // jeżeli już była jedna wybrana jako full, to dodana opłata full participation
                                if(!wasFull)
                                {
                                    wasFull = true;
                                }
                                else
                                {
                                    papersPrices[i]+={{conference.getFullParticipationPrice()}};
                                }
                                totalPapersPrice += papersPrices[i];
                                $("#paperPrice" + i).html(papersPrices[i]);   
                                $("#extraPagesPrice" + i).html(papersExtraPrices[i]); 
                                $("#totalPapersPrice").html(totalPapersPrice);
                                break;
                            // jeżeli opłata w ramach extra, to zawsze płaci się tak samo - wypisanie wartości
                            case 1:
                                if(!isNonCeded)
                                    isNonCeded = true;
                                totalPapersPrice += papersPrices[i];
                                $("#paperPrice" + i).html(papersPrices[i]);   
                                $("#extraPagesPrice" + i).html(papersPrices[i]);
                                $("#totalPapersPrice").html(totalPapersPrice);
                                break;
                            
                            case 2:
                                papersPrices[i] = 0;
                                $("#paperPrice" + i).html(papersPrices[i]);   
                                $("#extraPagesPrice" + i).html(papersPrices[i]);
                                $("#totalPapersPrice").html(totalPapersPrice);
                                break;
                          

                        }

                    }
                    // jeśli wszystkie prace są cedowane to:
                    if(!isNonCeded && papersPrices.length > 0)
                    {
                        $('#enablekit').removeAttr('hidden');
                        {{registration.setType(1)}} // ustawienie rejestracji na limited
                        registrationType = {{registration.type}}; // ustawienie zmiennej typu na limited
                        basePrice = {{conference.limitedParticipationPrice}}; // ustawienie ceny limited  
                        $('#registrationtype').html('<h3>{% trans %}reg.form.type{% endtrans %} {% if(registration.type) %}Limited participation {% else %} Full participation {% endif %} </h3>');
                        $('#registrationprice').html('{% if(registration.type == 0) %}{% trans %}conf.form.full_price{% endtrans %}{% else %}{% trans %}conf.form.limited_price{% endtrans %} {% endif %}');
                    }
                    // jeśli już nie ceduje no to powrót 
                    else
                    {
                        // jesli typ rejestracji jest limited, po wcześniejszym ustawieniu i jest choć
                        // jedna praca niecedowana
                        if(registrationType && papersPrices.length > 0)
                        {
                            $('#enablekit').attr('hidden', 'true');
                            $('#KitPriceRow').attr('hidden', 'true');
                            $('#form_enableKit').removeAttr('checked');
                            kitPrice = 0;
                            {{registration.setType(0)}} // ustawienie rejestracji na limited
                            registrationType = {{registration.type}}; // ustawienie zmiennej typu na limited
                            basePrice = {{conference.fullParticipationPrice}}; // ustawienie ceny limited  
                            $('#registrationtype').html('<h3>{% trans %}reg.form.type{% endtrans %} {% if(registration.type) %}Limited participation {% else %} Full participation {% endif %} </h3>');
                            $('#registrationprice').html('{% if(registration.type == 0) %}{% trans %}conf.form.full_price{% endtrans %}{% else %}{% trans %}conf.form.limited_price{% endtrans %} {% endif %}');
                        }
                    }
                }
                
                
                if(isBasePrice){
                    $('#BasePrice').html(basePrice + ' PLN');
                    if(registrationType == 0)
                        {
                        $('#BasePrice').append(' (includes one paper payment)');                        
                            kitPrice = 0;
                            $('#form_enableKit').removeAttr('checked');
                            $('#KitPriceRow').attr('hidden', 'true');
                        }
                    else
                        $('#enablekit').removeAttr('hidden');
                    if(validateDates())
                    {
                        dateDiff();
                        extraDaysPrice = extraDays*oneDayPrice;
                    }
                    $('#ExtraDaysPrice').html(extraDaysPrice + ' PLN');
                    //if(registrationType == 0)
                        papersPrice = totalPapersPrice;
                    $('#PapersPrice').html(papersPrice + ' PLN');
                    // odejmuje base price bo jedna praca jest zawarta w full participation fee
                    pricesSum = basePrice+extraDaysPrice+papersPrice+bookPrice*bookCount+kitPrice;  
                    if(kitEnabled)
                        $('#KitPrice').html(kitPrice + ' PLN');                       
                    $('#PricesSum').html(pricesSum + ' PLN');
                    if(bookCount > 0)
                        $('#BookPrice').html(bookCount+'*'+bookPrice+' = ' + bookPrice*bookCount +' PLN');
                    }
                // inne wyliczanie, kiedy konferencja liczy dla kazdego, kazdy dzien z osobna
                else{
                        if(validateDates())
                        {
                            dateDiff();
                        }
                        if(registrationType == 0)
                            papersPrice = totalPapersPrice;                       
                        $('#PapersPrice').html(papersPrice + ' PLN');                        
                        bookingPrice = days*oneDayPrice;
                        if(bookCount > 0)
                            $('#BookPrice').html(bookCount+'*'+bookPrice+' = ' + bookPrice*bookCount +' PLN');
                        if(kitEnabled)
                            $('#KitPrice').html(kitPrice + ' PLN'); 
                        $('#BookingPrice').html(bookingPrice + ' PLN');
                        pricesSum = papersPrice+bookingPrice+bookPrice*bookCount+kitPrice;
                        $('#PricesSum').html(pricesSum + ' PLN');
                    }
                if(!$('input#form_declared').is(':checked'))
                    $(':submit').attr('disabled', 'disabled');    
                    
                };
            
        </script>
        
        <div class="info" style="text-align: left">
            <span>
                {% trans %}reg.form.declaration{% endtrans %}<br>
                {{ form_errors(form.declared) }}
                {{ form_widget(form.declared) }}
            </span>
        </div>
        <script type="text/javascript">
            $('#form_declared').live("change", function(){
                if(this.checked)
                    $(':submit').removeAttr('disabled');                    
                else
                    $(':submit').attr('disabled', 'disabled');
                });
            
        </script>
        
        {{ form_row(form._token) }}
        
     	<input type="submit" value="Confirm"/>
</form>  

{% endblock %}