{% extends '::base.html.twig' %}

{% block title %}Edit registration{% endblock %}

{#
{% block js %}
 <script type="text/javascript" src="{{ asset('jquery-1.6.3.js') }}"></script> 
     <script type="text/javascript">
        $(document).ready(function() {
          var $radios = $('input:radio[name=form[type]]');
            if($radios.filter('[value=0]').is(':checked') === true)
            {
                $('#Type').removeAttr('hidden');
                $('#form_papers').removeAttr('disabled');   
            }
            else
            {
                $('#Type').attr('hidden', 'true');
                $('#form_papers').attr('disabled', 'disabled');
            }
    

        });
        $('#form_type input').change(function() {
            if (this.checked && $(this).val() == '0')
            {
                $('#Type').removeAttr('hidden');
                $('#form_papers').removeAttr('disabled');      
            }
            else 
            {
                $('#Type').attr('hidden', 'true');
                $('#form_papers').attr('disabled', 'disabled');
                                
            }

            });
        

    </script>
{% endblock %}
#}

{% block body %}
<h1>Edit registration</h1>
<form novalidate="novalidate" action="{{ path('registration_edit', {'id' : id}) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.enableBook) }}
        
        {% if(type == 1) %}
        
            {{ form_row(form.enableKit) }}
        
        {% endif %}
        
        {{ form_row(form.notes) }}
        {{ form_row(form._token) }} 
    
   

    
{# Już nieaktualne - wybieranie paperów 
    <div id="Type" hidden="true">
        {{ form_row(form.papers) }}
    </div>    
#} 
	<input type="submit" />
</form>

{% endblock %}