{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.reg.new.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}conf.reg.new.title{% endtrans %}{% endblock %}
{% block body %}
    <div class="info">
        <span>Here you are able to register to the conference. After that you will be able
              to register and submit papers. You can also participate to the conference without registering any paper. 
              Of course you can always abandon your participation without being obligated to pay but only if you perform 
              this action before the deadline. You can see some information about the conference below.
        </span>
    </div>
    <h1>Rejestracja na konferencję {{ conference.name }}</h1>
	
    <h3>{% trans %}conf.manage.desc_title{% endtrans %}:</h3>
    <p>{{ conference.description() }}</p>
	
    <h3>{% trans %}conf.manage.dates_title{% endtrans %}:</h3>
    <div class="dates">
	<p>{% trans %}conf.manage.dates_start{% endtrans %}: {{ conference.startDate.format('Y-m-d') }}</p>
	<p>{% trans %}conf.manage.dates_end{% endtrans %}: {{ conference.endDate.format('Y-m-d') }}</p>
	<p>{% trans %}conf.form.paper_deadline{% endtrans %}: {{ conference.paperDeadline.format('Y-m-d') }}</p>
    <p>{% trans %}conf.form.correctedpaper_deadline{% endtrans %}: {{ conference.correctedPaperDeadline.format('Y-m-d') }}</p>
    <p>{% trans %}conf.form.confirmation_deadline{% endtrans %}: {{ conference.confirmationDeadline.format('Y-m-d') }}</p>
    </div>
	
    <h3>{% trans %}conf.manage.address_title{% endtrans %}:</h3>
    <p class="address">{{ conference.getAddress() }}<br />{{ conference.getPostalCode() }} {{ conference.getCity() }}</p>
    <form novalidate="novalidate" action="{{ path('registration_new') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}	
	<input type="submit" value="Register"/>
    </form>

{% endblock %}
            