{% extends '::base.html.twig' %}

{% block title %}{{ conference.name }}{% endblock %}

{% block bodytitle %}{{conference.name }}{% endblock %}

{% block body %}
 <h1>About conference:</h1>

 <h3>{% trans %}conf.form.start{% endtrans %}: </h3>{{conference.startDate|date('d-m-Y')}}
<h3>{% trans %}conf.form.end{% endtrans %}: </h3>{{conference.endDate|date('d-m-Y')}}
<h3>{% trans %}conf.form.paper_deadline{% endtrans %}: </h3>{{conference.paperDeadline|date('d-m-Y')}}
<h3>{% trans %}conf.form.confirmation_deadline{% endtrans %}: </h3>{{conference.confirmationDeadline|date('d-m-Y')}}
<h3>{% trans %}conf.form.description{% endtrans %}: </h3>{{conference.description}}

<h1>Registration data:</h1>
    <h3>
        {% if(registration.startDate != null) %}
        Arrival date: {{ registration.startDate|date('d-m-Y') }}<br>
        {% endif %}
        {% if(registration.startDate != null) %}
        Leave date: {{ registration.endDate|date('d-m-Y') }}<br>
        {% endif %}
        Type of registration: 
        {% if registration.type == 1 %}
            Limited participation
        {% else %}
            Full participation
        {% endif %} <br>
   	 <p><h3>Choosen papers:</h3>
   	 <ul>
	   	 {% for paper in papers %}
	   	 <li>{{ paper.title }}<a href="{{path('paper_delete', 
                                {'id': registration.id,                                  
                                 'paper_id' : paper.id})}}">
                Delete paper </a></li>
	   	 {% endfor %}
	 </ul>
   	 </p>
   	 <p><h3>Charged papers:</h3>
   	 </p>
     <li><a href="{{path('registration_edit', {'id': registration.id})}}">
   	 Edit registration
   	 </a></li>
   	 <li><a href="{{path('registration_delete', {'id': registration.id})}}">
   	 Unregister
   	 </a></li>   
 
{% endblock %}
