{% extends '::base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block bodytitle %}{{title}}{% endblock %}
{% block body %}
<p>
	{{content | raw}}
</p>

{% endblock %}
{% block subPageDev %}
		  <li><a href="{{ path('subpage_new') }}">Dodaj podstrone</a></li>
		  <li><a href="{{ path('subpage_update', { 'canonical': canonical }) }}">Edytuj podstrone</a></li>
		  <li><a href="{{ path('subpage_delete', { 'canonical': canonical }) }}">Usuń podstrone</a></li>		 	
{% endblock %}
