{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.manage.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}conf.manage.title{% endtrans %}{% endblock %}

{% block body %}
	<h1>{{ conference.getName }}</h1>
	
	<h3>{% trans %}conf.manage.desc_title{% endtrans %}</h3>
	<p>{{ conference.description }}</p>
	
	<h3>{% trans %}conf.manage.dates_title{% endtrans %}</h3>
	<div class="dates">
		<p>{% trans %}conf.form.accomodation_start{% endtrans %}: {{ conference.startDate|date('Y-m-d') }}</p>
		<p>{% trans %}conf.form.accomodation_end{% endtrans %}: {{ conference.endDate|date('Y-m-d') }}</p>
        <p>{% trans %}conf.form.booking_start{% endtrans %}: {{conference.bookingstartDate|date('Y-m-d')}}</p>
        <p>{% trans %}conf.form.booking_end{% endtrans %}: {{conference.bookingendDate|date('Y-m-d')}}</p>
        <p>{% trans %}conf.form.abstract_deadline{% endtrans %}: {{conference.abstractDeadline|date('Y-m-d')}}</p>
		<p>{% trans %}conf.form.paper_deadline{% endtrans %}: {{ conference.paperDeadline|date('Y-m-d') }}</p>
        <p>{% trans %}conf.form.correctedpaper_deadline{% endtrans %}: {{ conference.correctedPaperDeadline|date('Y-m-d') }}</p>
        <p>{% trans %}conf.form.confirmation_deadline{% endtrans %}: {{ conference.confirmationDeadline|date('Y-m-d') }}</p>
        
        <h3>{% trans %}conf.manage.prices_title{% endtrans %}</h3>
        
        <p>{% trans %}conf.form.oneday_price{% endtrans %}: {{conference.onedayPrice}}</p>
        <p>{% trans %}conf.form.demand_allday_price{% endtrans %}: 
        {% if(conference.demandAlldayPayment)%}
            {% trans %}conf.form.yes{% endtrans %}
        {% else %}
            {% trans %}conf.form.no{% endtrans %}
        {% endif %}
        </p>
        <p>{% trans %}conf.form.paper_price{% endtrans %}: {{ conference.paperPrice }} PLN</p>
        <p>{% trans %}conf.form.extrapage_price{% endtrans %}: {{ conference.extrapagePrice }} PLN</p>
	</div>
	
	<h3>{% trans %}conf.manage.address_title{% endtrans %}</h3>
	<p class="address">{{ conference.address }}<br />{{ conference.postalCode }} {{ conference.city }}</p>
	
	<p><a href="{{ path('conference_edit') }}">
		{% trans %}conf.manage.edit{% endtrans %}</a></p>
	
	<h3>{% trans %}conf.manage.registrations_title{% endtrans %}</h3>
	<ul>
	{% for registration in registrations %}
		{% set participant = registration.participant %}
		<li>{{ participant.name }} | 
			{{ participant.surname }} | 
			{{ registration.type }} | 
			{{ registration.totalPayment }} | 
			<a href="{{ path('registration_show', { 'id': registration.id }) }}">
				{% trans %}conf.manage.registrations_details{% endtrans %}</a> | 
			<a href="#">
				{% trans %}conf.manage.registrations_invoice{% endtrans %}</a> |
			<form novalidate="novalidate" action="" method="POST">
				<input type="submit" value="{% trans %}conf.manage.registrations_confirm_payment.submit{% endtrans %}" />
			</form>
		</li>
	{% else %}
		<p>{% trans %}conf.manage.registrations_empty{% endtrans %}</p>
	{% endfor %}
	</ul>
	
	{% render "ZpiPaperBundle:Paper:list" %}
	
{% endblock %}
