{% extends '::base.html.twig' %}

{% block title %}{% trans %}conf.manage.title{% endtrans %}{% endblock %}
{% block bodytitle %}{% trans %}conf.manage.title{% endtrans %}{% endblock %}

{% block body %}	
{# ziomek możesz przecież normalnie brać parametry, one same wywołają gettery / @quba #}
	<h1>{{ conference.getName() }}</h1>
	
	<h3>{% trans %}conf.manage.desc_title{% endtrans %}</h3>
	<p>{{ conference.getDescription() }}</p>
	
	<h3>{% trans %}conf.manage.dates_title{% endtrans %}</h3>
	<div class="dates">
		<p>{% trans %}conf.manage.dates_start{% endtrans %}: {{ conference.getStartDate().format('Y-m-d') }}</p>
		<p>{% trans %}conf.manage.dates_end{% endtrans %}: {{ conference.getEndDate().format('Y-m-d') }}</p>
		<p>{% trans %}conf.manage.dates_deadline{% endtrans %}: {{ conference.getDeadline().format('Y-m-d') }}</p>
	</div>
	
	<h3>{% trans %}conf.manage.address_title{% endtrans %}</h3>
	<p class="address">{{ conference.getAddress() }}<br />{{ conference.getPostalCode() }} {{ conference.getCity() }}</p>
	
	<p><a href="{{ path('conference_edit', { 'id': conference.getId() }) }}">
		{% trans %}conf.manage.edit{% endtrans %}</a></p>
	
	<h3>{% trans %}conf.manage.registrations_title{% endtrans %}</h3>
	<ul>
	{% for registration in registrations %}
		{% set participant = registration.getParticipant() %}
		<li>{{ participant.getName() }} | 
			{{ participant.getSurname() }} | 
			{{ registration.getReadableType() }} | 
			amount | 
			<a href="{{ path('registration_show', { 'id': registration.getId() }) }}">
				{% trans %}conf.manage.registrations_details{% endtrans %}</a> | 
			<a href="#">
				{% trans %}conf.manage.registrations_invoice{% endtrans %}</a> |
			<form novalidate="novalidate" action="" method="POST">
				<input type="submit" value="{% trans %}conf.manage.registrations_confirm_payment.submit{% endtrans %}" />
			</form>
		</li>
	{% else %}
		<p>{% trans %}conf.manage.registrations_empty{% endtrans %}</p>
	{% endfor %}
	</ul>
	
	<h3>{% trans %}conf.manage.papers_title{% endtrans %}</h3>
	<ul>
	{% for paper in papers %}
		{% set authors = paper.getAuthors() %}
		{% set owner = paper.getOwner() %}
		{% set paperID = paper.getId() %}
		<li>{{ paper.getTitle() }} | 
			{{ paper.getAbstract() }} | 
			{{ owner.getName() }} {{ owner.getSurname() }}
				{% for author in authors %}, {{ author.getUser().getName() }} {{ author.getUser().getSurname() }}{% endfor %} |
			review status |
			<a href="{{ path('paper_details', { 'id': paperID }) }}">
				{% trans %}conf.manage.paper_details{% endtrans %}</a> |
			<a href="{{ path('conference_manage_papers_editors', { 'id': conference.getId(), 'paper_id': paperID }) }}">
				{% trans %}conf.manage.papers_assign_editors{% endtrans %}</a> |
			<a href="{{ path('conference_manage_papers_deadline', { 'paper_id': paperID }) }}">
				{% trans %}conf.manage.papers_deadline{% endtrans %}</a>
		</li>
	{% else %}
		<p>{% trans %}conf.manage.papers_empty{% endtrans %}</p>
	{% endfor %}
	</ul>
	
{% endblock %}
